[Desktop Entry]
Type=Application
Name=picom (Gooey blur)
Comment=Compositor with background blur - toggle with: svc blur on|off
Exec=picom --experimental-backends
Hidden=false
X-GNOME-Autostart-enabled=true
